body {
    padding: 0;
    margin: 0;
}

/* Menu */

.link-back-wrap {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.link-back {
    background: lightskyblue;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

/* Main task */

.datatable-wrap {
    display: flex;
    justify-content: center;
}

.datatable {
    border: 1px solid lightgrey;
    padding: 20px;
}

.datatable-row-highlighted {
    background: lightskyblue;
}

td {
    padding: 5px 10px;
}

tr:nth-child(even) {
    background: #e5e5e5;
}

.datatable-controls-wrap {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.datatable-control {
    background: lightskyblue;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    color: black;
}

.datatable-control-left {
    margin-right: 10px;
}

.datatable-control-right {
    margin-left: 10px;
}

.datatable-flex {
    display: flex;
}

.filter-input {
    display: block;
}

.datatable-filter-time {
    border: 1px solid lightgrey;
    padding: 20px;
    margin-left: 10px;
}

.filter-input-bottom {
    margin-top: 5px;
}

.filter-button {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.filter-button-close-reset {
    text-decoration: none;
    color: orangered;
    margin-top: 10px;
}

.filter-button-submit {
    background: lightskyblue;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.filter-link-time {
    color: orangered;
    cursor: pointer;
}

form {
    margin-top: 10px;
}

.datatable-filter-time-heading {
    font-weight: bold;
}
